<!--
Final Project: Quiz Application with Microservices
Date: 10-Jun-2022
Authors:
         A01376331 Rubén Villalpando Bremont
         A01747247 Zoe Caballero Dominguez
 -->
<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/style.css">
        <h1>Estos son los puntajes más altos</h1>
    </head>
    <body>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Puntaje</th>
            </tr>
            <%@scores.reverse_each do |score|%>
                <tr>
                    <td><%=score["USERNAME"]%></td>
                    <td><%=score["Score"]%></td>
                </tr>
            <%end%>
        </table>
        <h2>¿Quieres publicar tu resultado?</h2>
        <p>Usuario: <%=@user%></p>
        <p>Puntaje: <%=@score%></p>
        <form method="POST" action="/scores/<%=@user%>">
            <button>Sí</button>
        </form>
        <form method="GET" action="/">
            <button>No</button>
        </form>
    </body>
</html>